/* 
 - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap');

:root {
  --left-bg-color: rgba(87, 82, 236, 0.5);
  --right-bg-color: rgba(43, 43, 43, 0.5);
  --left-btn-hover-color: rgba(87, 82, 236);
  --right-btn-hover-color: rgba(28, 122, 28);
}
html {
  /* default: 10px */
  /* 10 / 16 * 100 = 62.5 */

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  height: 100vh;
  color: #fff;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.box {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.box-left {
  left: 0;
  background: url(img/ps5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-x: 50%; */
}

.box-left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.box-right {
  right: 0;
  background: url(img/xbox.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

.box-right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

h1 {
  font-size: 5rem;
  white-space: nowrap;
  z-index: 1;
}

.btn {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  z-index: 1;
  border: 0.2rem solid #fff;
  width: 20rem;
  padding: 2rem;
  text-align: center;
}

.btn-left:hover {
  background-color: var(--left-btn-hover-color);
  border: 0.2rem solid transparent;
}

.btn-right:hover {
  background-color: var(--right-btn-hover-color);
  /* border: 0.2rem solid transparent; */
  border-color: var(--right-btn-hover-color);
}
